<section class="hero">
    <div class="bg">
        <div class="bg-text">
            <div class="textos">
                <h1>MARCO ALZAMORA</h1>
                <div class="container">
                    <ul>
                        <li>Computer and Systems Engineering Student</li>
                        <li>Web Developer</li>
                        <li>Ethical hacking</li>
                    </ul>
                </div>
            </div>

            <div class="about-more"><a href="#acerca-de"><button>Read more</button></a></div>
        </div>
        <div class="wave">
            <div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                    style="height: 100%; width: 100%;">
                    <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                        style="stroke: none; fill: #fff;"></path>
                </svg></div>
        </div>
    </div>
</section>
<section class="acerca-de" id="acerca-de">
    <div class="info-container">
        <h1>About me</h1>
        <hr>
        <p>My name is Marco Alzamora Cueto, I am 20 years old and I am a proud Peruvian.</p>
        <p>I started my career in Systems Engineering in 2016, I have always liked to learn about all kinds of technologies, my main objective is to work as a Computer Security Specialist.

        In my free time I like to learn about new languages, programming and machine learning, this would be a brief description of me and I hope you like my website.</p>

        <div class="about-gallery">
            <figure>
                <img src="https://i.imgur.com/77WdlzT.jpg" alt="">
                <div class="capa">
                    <h3>Universidad Tecnologica del Peru</h3>
                    <p>I am in the 7th cycle of the systems engineering career</p>
                </div>
            </figure>
            <figure>
                <img src="https://i.imgur.com/NUwqnN0.png" alt="">
                <div class="capa">
                    <h3>PLATZI</h3>
                    <p>It is an online education platform that allowed me to awaken my interest in web development</p>
                </div>
            </figure>
            <figure>
                <img src="https://i.imgur.com/IzwSYY7.png" alt="">
                <div class="capa">
                    <h3>AUTODIDACT</h3>
                    <p>I constantly look for information of all kinds to never stop learning</p>
                </div>
            </figure>
        </div>

        <div class="about-more"><a href="/portfolio"><button>Projects</button></a></div>
    </div>
</section>