


<div class="portafolio">
    <div class="espacio" style="height: 60px;"></div>
    <section class="proyectos">
        {{#each projects}}
        <div class="proyecto">
            <p> {{ name }}</p>
            <a href={{direccion}} target="_blank"><img class="proyecto__imagen" src={{ img }} alt=""></a>
        </div>
        {{/each}}
    </section>
</div>

