<footer class="footer">
    <a href="https://github.com/immalz" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/marco-alzamora-486671185/" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.instagram.com/marzlcode/?hl=es-la" target="_blank"><i class="fab fa-instagram"></i></a>
</footer>