<header>
  <div class="menu-toggle" id="hamburger">
    <i class="fas fa-bars"></i>
  </div>
  <div class="overlay"></div>
  <div class="container">
    <nav class="navbar">
      <a href="/"><img src="https://i.imgur.com/5GfW76D.png" alt=""></a>
      <ul>
        <li><a href="/">Home</span></a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/service">Services</a></li>
        <li><a href="https://wa.me/51922752910?text=Hola!%20requiero%20de%20tus%20habilidades" target="_blank">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>