<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio | Marco Alzamora</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Dosis:wght@400;500;700&family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    {{> header }}

    {{{ body }}}

    {{> footer }}

    <script src="https://kit.fontawesome.com/022b0abea9.js" crossorigin="anonymous"></script>
    <script src="js/animacion.js"></script>
</body>
</html>