<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio | Marco Alzamora</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    {{!-- <link rel="shortcut icon" type="image/x-icon" href="/src/public/favicon.ico"> --}}
</head>
<body>
    {{> navigation }}

    {{{ body }}}

    {{> footer }}

    <script src="https://kit.fontawesome.com/022b0abea9.js" crossorigin="anonymous"></script>
</body>
</html>